/*-----------------------------------*\
  #style-responsive.css
\*-----------------------------------*/
/**
 * copyright 2026 @walkerpr
 */
/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/
/*-----------------------------------*\
  #RESPONSIVE
\*-----------------------------------*/
/**
 * responsive larger than 1250px screen (ex. Desktop)
 */

@media (min-width: 1600px) {
  :root {
    /**
  * shadow
  */
    --shadow-1: -4px 8px 24px hsla(0, 0%, 0%, 0.125);
    --shadow-2: 0 16px 30px hsla(0, 0%, 0%, 0.125);
    --shadow-3: 0 16px 40px hsla(0, 0%, 0%, 0.125);
   /**
  * typography
  */
    --fs-1: 32px;
    --fs-2: 24px;
    --fs-3: 20px;
    --fs-4: 18px;
    --fs-6: 15px;
    --fs-7: 15px;
    --fs-8: 12px;
  }
 /**
   * RESET
   */
 body::-webkit-scrollbar {
    width: 20px;
  }
 body::-webkit-scrollbar-track {
    background: var(--smoky-black);
  }
 body::-webkit-scrollbar-thumb {
    border: 5px solid var(--smoky-black);
    background: hsla(0, 0%, 100%, 0.1);
    border-radius: 20px;
    box-shadow:
      inset 1px 1px 0 hsla(0, 0%, 100%, 0.11),
      inset -1px -1px 0 hsla(0, 0%, 100%, 0.11);
  }
 body::-webkit-scrollbar-thumb:hover {
    background: hsla(0, 0%, 100%, 0.15);
  }
 body::-webkit-scrollbar-button {
    height: 60px;
  }
 /**
   * #REUSED STYLE
   */
 .sidebar,
  article {
    width: 1250px;
    margin-inline: auto;
    border-radius: 20px 20px 20px 20px;
    box-shadow: var(--shadow-5);
  }
article.active {
  display: block;
  min-height: 502px;
}
 .article-title {
    font-weight: var(--fw-600);
    padding-bottom: 15px;
  }
 .article-title::after {
    width: 100%;
    height: 5px;
  }

.page-title {
  visibility: visible;
  height: 100%;
  padding-bottom: 15px;
  margin-bottom: 15px;
}


 .icon-box {
    height: 48px;
    border-radius: 12px;
    font-size: 18px;
  }
 /**
   * MAIN
   */
 main {
    max-width: 1200px;
    margin-inline: auto;
    margin-top: 10px;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 25px;
  }
 .main-content {
    position: relative;
    width: max-content;
    margin: auto;
  }
 /**
   * SIDEBAR
   */
 .sidebar {
    position: sticky;
    max-height: max-content;
    max-width: max-content;
    height: 100%;
    width: 75%;
    margin-bottom: 0;
    border-radius: 20px;
    z-index: 1;
  }
 .sidebar-info {
    flex-direction: column;
  }

 .avatar-box img {
    width: 175px;
  }
 .info-content .name {
    white-space: nowrap;
    text-align: center;
  }
 .info-content .title {
    margin: auto;
  }
 .info-more-btn {
    display: none;
  }
 .sidebar-info_more {
    opacity: 1;
    visibility: visible;
  }
 .contacts-list {
    grid-template-columns: 1fr;
  }
 .contact-title {
    margin-bottom: 2px;
  }
 .contact-info :is(.contact-link) {
    white-space: wrap;
    font-size: var(--fs-7);
    overflow: visible;
    text-overflow: ellipsis;
  }
 .contact-info :is(.contact-link, time, address) {
    --fs-7: 12px;
    font-weight: var(--fw-300);
  }
 .social-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding-bottom: 4px;
    padding-left: 7px;
  }
 /**
   * NAVBAR
   */
 .navbar {
    position: absolute;
    bottom: auto;
    top: 0;
    left: auto;
    right: 0;
    width: max-content;
    border-radius: 0 20px;
    padding: 0 20px;
    box-shadow: none;
  }
 .navbar-list {
    gap: 30px;
    padding: 0 20px;
  }
 .nav-link {
    font-weight: var(--fw-500);
  }
 /**
   * ABOUT
   */
  .about-item .large_text {
    text-align: left;
  }
 .about-item .text {
    text-align: left;
  }
.collapsible::after {
  margin-top: 10px;
}

 /* service */
 .service-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px 25px;
  }
 .service-item {
    display: flex;
    align-items: flex-start;
    padding-top: 5px;
    padding-left: 10px;
   justify-content: flex-start;
  }
 .service-icon-box {
    margin-top: 20px;
    margin-bottom: 0px;
    margin-right: 20px;
  }
 .service-item-title {
    text-align: left;
    margin-top: 17px;
  }
 .service-icon-box img {
    height: 60px;
    width: 60px;
  }
  /* credentials */
  .certifications-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px 5px;
  }
  .credentials-item {
    min-width: calc(50% - 15px);
  }
 /* clients */
 .clients-item {
    min-width: calc(25% - 38px);
  }
 /**
   * PROJECTS
   */
 .filter-select-box {
    display: none;
  }
 .filter-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;
    padding-left: 5px;
    margin-bottom: 30px;
  }
 .filter-item button {
    color: var(--light-gray);
    font-size: var(--fs-3);
    transition: var(--transition-1);
    letter-spacing: inherit;
  }
 .filter-item button:hover {
    color: var(--light-gray-70);
  }
 .filter-item button.active {
    color: transparent;
    background: var(--text-gradient-blue);
    background-clip: text;
  }
 .project-title {
    font-size: var(--fs-4);
  }
  /* portfolio and blog grid */
 .project-list,
  .blog-posts-list {
    grid-template-columns: 1fr 1fr;
  }
 .project-list {
    grid-template-columns: repeat(3, 1fr);
  }
 /**
   * BLOG
   */
 .blog-banner-box {
    height: 230px;
  }
 /**
	 * RESUME
	 */
 .timeline-text {
    max-width: 700px;
  }
  iframe {
  height: 1200px;
  }
}